<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sistema_Asistencia">

        <!-- Pantalla de Inicio de Sesión -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Menú Principal" />

        <!-- Pantalla de Registro de Asistencia por QR -->
        <activity
            android:name=".RegistroAsistenciaActivity"
            android:exported="false"
            android:label="Registrar Asistencia QR" />

        <!-- Pantalla de Detalle de Módulos -->
        <activity
            android:name=".DetalleModuloActivity"
            android:exported="false"
            android:label="Módulo del Sistema" />

    </application>

</manifest>
